<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>手机登录页面</title>
	<link rel="stylesheet" type="text/css" href="../css/sy.css"/>
	<script src="../js/jquery-3.1.1.min.js"></script>
</head>
<body>
	<div class="box">
		
	<header><span class="zf"></span>登录</header>
	<section>
		<div class="content-a">
			<span class="sj">手机快捷登录</span>
			<span class="mm">账号密码登录</span>
		</div>
		<div class="content-sj">
			<input type="text" placeholder="请输入手机号码"/>
			
		</div>
		
		<div class="content-yz">
			<input type="password" placeholder="请输入验证码"/>
		</div>
		<div class="content-wj">
			忘记密码？
		</div>
		<div class="content-dl">
			<input type="button" value="登录"/>
		</div>
		<div class="content-wj">
			没有账号？立即注册
		</div>
	</section>
	<footer>
		<div class="footer-gd">
			
		</div>
		<div class="fs">
			<span></span>
			<span></span>
			<span></span>
		</div>
		
	</footer>
	</div>
	<script>
		$(function(){
			$(".zf").on("touchstart",function(){
				window.location.href="../index.html"	;
			})
			$(".content-wj").on("touchstart",function(){
				window.location.href="zc.html"	;
			})
			$(".mm").on("touchstart",function(){
				
			})
		})
	</script>
</body>
</html>