*{
    padding:0;
    margin:0;
//  box-sizing: border-box;
}
body,html{
    width:100%;
    height:100%;
    font-size:14px;
}
a{
    text-decoration: none;
}
ul,ol,dl{
    list-style:none;
}
input{
    outline:0;
    border:0;
    
}
.wrappen{
    width:100%;
    min-height:680px;
    .header{
        width:100%;
        height:34px;
        background:#2aad6f;
        color:black;
         ul{
            width:958px;
            height:34px;
            margin:0 auto;
            li{
               float:left;
               line-height:34px;
               border-left:1px solid #47b488;
            a{
                color:white;
                display:block;
                padding:0 20px;
                &:hover{
                    background:#47b488;
                }
            }
        }
    }
  }
    //首头
   .login_box{
       padding-top:80px;
       .mainbox{
           width:320px;
           margin:0 auto;
           .lgnheader{
               margin-bottom:45px;
                    .logo{
                        width:205px;
                        height:34px;
                        background:url(../image/img/login-logo.png) no-repeat;
                        background-size:100% 100%;
                         margin:0 auto 20px;
                }
                           .title{
                                 font-size:15px;
                                 color:#363636;
                                 text-align: center;
                                 font-weight: 500;
           }
           }
         
           .login_area{
               .input_area{
                   position:relative;
                   margin-top:10px;
                   .username,.pwd{
                        width:286px;
                         display:block;
                         height:20px;
                        line-height: 20px;
                        padding:12px 16px;
                        font-size:14px;
                       background:#fff;
                       border:1px solid #e2e2e2;
                       margin:0 auto;
                   }
                   
               }
                .field{
                    height:15px;
                    line-height: 15px;
                    margin-top:10px;
                    width:320px;
                    .text_green{
                        color:#00925f;
                        text-decoration: underline;
                        float:right;
                        font-size:12px;
                    }
                     .clear{
                         clear:both;
                     }
                    
                         
                     } 
                     .button{
                         display:block;
                         text-align:center;
                         width:320px;
                         height:46px;
                         line-height:46px;
                         font-size:16px;
                         cursor:pointer;
                         background:#2aad6f;
                }
                .mt{
                    margin-top:30px;
                    
                }
                .login_button{
                    margin-bottom:15px;
                    color:#fff;
                    
                }
                .register_button{
                    background:#fff;
                    border:1px solid #e2e2e2;
                    color:#363636;
                }
                .error_tip1{
                    margin-top:10px;
                    padding-top:5px;
                    min-height:12px;
                }
                .n_links_area{
                    margin-top:20px;
                    color:#878b8a;
                    .oth_type_list{
                        background:url(../image/ico_title.png) no-repeat;
                        width:318px;
                        height:23px;
                        margin:0 auto;
                    }
                    .oth_links_area{
                        text-align:center;
                        padding:25px;
                        .other_link{
                            height:30px;
                            width:30px;
                            display:inline-block;
                            margin:0 8px;
                            text-indent:-9999px;
                            vertical-align: middle;
                        }
                        .ico_qq{
                            background:url(../image/ico_qq.jpg) no-repeat;
                            background-size:100% 100%;
                        }
                          .ico_wb{
                            background:url(../image/ico_wb.jpg) no-repeat;
                            background-size:100% 100%;
                        }
                         .ico_alipay{
                            background:url(../image/ico_alipay.jpg) no-repeat;
                            background-size:100% 100%;
                        }
                         .ico_wx{
                            background:url(../image/ico_wx.jpg) no-repeat;
                            background-size:100% 100%;
                        }
                    }
                }
               
           }
       }
                     
     .footer_info{
                            color:#7b7b7b;
                            font-size:12px;
                            text-align:center;
                            margin-top:30px;
                            padding:24px 0;
                            position:relative;
                        } 
                        
                        }
}
