			*{
				padding:0;
				margin:0px;
			}
			ul,ol,dl{
				list-style: none;
			}
			a{
				text-decoration: none;
				
			}
		html,body{
				width:100%;
				height:100%;
				box-sizing: border-box;
				
			}
		body {
	          background: #fff;
	          color: #393939;
	          font-family: "Myriad Pro", Arial, "FZLanTingHei-R-GBK", 方正兰亭黑, "Microsoft YaHei", 微软雅黑, STHeiti, 华文黑体, SimSun, 宋体, sans-serif;
	          font-size: 100%;
	          line-height: normal;
	          -webkit-font-smoothing: antialiased;
	          -moz-osx-font-smoothing: grayscale;
	          overflow-x: hidden;
}
			.main-header{
				width:100%;
				height:88px;
				z-index:100;
				font-size:13px;
				position:relative;
			}
			.main-header .wrappar{
				width:100%;
				height:28px;
				background:#009B72;
			}
			.main-header .header-right{
				max-width:1200px;
				margin:0 auto;
				height:28px;
			}
			.main-header .header-right ul{
				width:400px;
				height:28px;
				position:absolute;
				right:0;
				top:0;
			}
			.main-header .header-right  li{
				width:67px;
				height:28px;
				border-left:1px solid #47b488;
				float:left;
				text-align: center;
				line-height:28px;
			}
			.main-header .header-right  li a{
				color:white;
			}
			.main-header .header-right li:nth-child(3){
				width:80px;
				height:26px;
				margin-left:2px;
				line-height:24px;
				border-left:1px solid #47b488;
			}
			.main-header .header-right li:hover{
				background:#47b488;
			}
			.main-header .main-nav{
				max-width:1200px;
				height:58px;
				margin:0 auto;
			}
			.main-header .main-nav .logo-list{
				float:left;
				margin-left:10px;
				
			}
			.main-header .main-nav .logo-list a h3 img{
				line-height: 58px;
				max-height:19px;
				height:19px;
				vertical-align: middle;
				margin-top:19px;
			}
			.main-header .main-nav .logo-lis{
				float:right;
				margin-right:50px;
			}
			.main-header .main-nav .logo-lis ul li{
				float:left;
				margin-left:25px;
				line-height: 58px;
				float:left;
				
			}
			.main-header .main-nav .logo-lis ul .l1{
				height:45px;
				border-bottom: 2px solid #009B72;
			}
			.main-header .main-nav .logo-lis ul li a{
				color:#7b7b7b;
				font-size:13px;
			}
			 .lo{
				width:100%;
				height:650px;
			    position:relative;
			}
			
			/*轮播部分*/
				 .lo{
				width:100%;
				height:650px;
			    position:relative;
			}
         .lo ul{
				width:100%;
				height:100%;
				overflow:hidden;

			}
			.lo ul li {
				width:100%;
				height:650px;
				float:left;
				position:absolute;	
				
		}	
			.lo ul li img{
				display:block;
				height:100%;
			    height:650px;
			    min-height:650px;
			    
			}
			.lo  ol{
				position:absolute;
				bottom:10px;
				left:50%;
			}
			.lo ol li{
				width:10px;
				height:10px;
				border-radius:50%;
				border:1px solid gray;
				margin-left:7px;
				background:gray;
				float:left;
			}
			.lo ol .active{
				width:10px;
				height:10px;
				border-radius:50%;
				border:2px solid #009B72;
				background:white;
			}
			.lo span{
				position:absolute;
				top:43%;
				display:block;
				width:50px;
				height:50px;
			    border:1px solid transparent;
			    transform:rotate(45deg);
			}
			.lo .prev{
				 left:50px;
				 border-left:1px solid yellow;
				 border-bottom:1px solid yellow;
			}
			.lo .next{
				right:50px;
				 border-right:1px solid yellow;
				 border-top:1px solid yellow;
			}
			
			
			.main-content {
				padding-top:7px;
				flex:1; 
			}
			.main-content ul{
				flex:1;
				display:flex;
				
			}
			.main-content li {
			   flex-direction:column;
				width:100%;
				height:100%;
			    padding: 0 2px;
			}
			.main-content ul li img{
				width:100%;
			}
			.main-footer{
				width:100%;
				height:300px;
				margin-top:80px;
				
			}
			.main-footer .footer-content{
			  width:1200px;
			  margin:0 auto;
			  height:180px;
			  border-bottom:1px solid #ccc;
			 
			  }
			.main-footer .footer-content .footer-left{
			  	width:75%;
			  	float:left;
			}
			.main-footer .footer-content .footer-left dl{
				float:left;
				width:220px;
				height:140px;
			}
			.main-footer .footer-content .footer-left dl dt  a{
				font-size: 0.9375rem;
				color: #363636;
				font-weight: bold;
				
			}
			.main-footer .footer-content .footer-left dl  dd a{
				color: #363636;
	            font-size: 0.8125rem;
			}
			.main-footer .footer-content .footer-left  dl dt{
				font-size:15px;
				margin-bottom:30px;
			}
			.main-footer .footer-content .footer-left dl dd{
				font-size:12px;
				margin:10px 0;
			}
			.main-footer .footer-content .r{
				float:right;
				margin-right:50px;
			}
			.main-footer .footer-content .r .phone{
				padding-top:20px;
				font-size:1.87rem;
			}
			.main-footer .bor{
				width:1200px;
				height: 119px;
				margin:0 auto;
				clear:both;
				font-size: 0.8125rem;
s			}
			.main-footer .bor .foot-bottom{
				float:left;
			   line-height: 80px;
				
			}
			.main-footer .bor .foot-bottom p{
				float:left;
			}
			.main-footer .bor .foot-bottom .foot-ident{
				display: block;
				background: url(../image/img/icon-identification.png) no-repeat;
	            width: 24px;
	            height: 25px;
	           margin: 28px 0 0 10px;
	            float:left;
	            margin-top:25px;
			}
			.main-footer .bor .foot-bottom .foot-ident:hover{
				
		        background: url(../image/img/icon-identification.png) no-repeat -24px 0;
		       
			}
			.main-footer .bor .foot-bottom-r{
				float:right;
				width:185px;
				line-height: 80px;
				margin-left:480px;
				
			}
			.main-footer .bor .foot-bottom-r p{
				float:left
			}
			.main-footer .bor .foot-bottom-r ul li{
				position:relative;
				float:left;
				width:30px;
				height:30px;
				margin-left:10px;
				margin-top:25px;
			}
			.main-footer .bor .foot-bottom-r ul li:nth-child(1){
				
				background:url(../image/Image10.png) no-repeat;
				
			}
			.main-footer .bor .foot-bottom-r ul li:nth-child(1):hover{
				background:url(../image/Image38.png) no-repeat;
				
			}
			.main-footer .bor .foot-bottom-r ul li:nth-child(2){
				
				background-image:url(../image/Image11.png);
				
			}
			.main-footer .bor .foot-bottom-r ul li:nth-child(2):hover{
				
				background-image:url(../image/Image39.png);
				
			}
			.main-footer .bor .foot-bottom-r ul li:nth-child(3){
				
				background-image:url(../image/Image12.png);
				
			}
			.main-footer .bor .foot-bottom-r ul li:nth-child(3):hover{
			
				background-image:url(../image/Image40.png);
				
			}
			
			.main-footer .tu{
				width:148px;
				height:211px;
				position:absolute;
				right:50px;
				top:-50px;
				
				background:url(../image/img/qrcode-wx.jpg);
			}
			.main-footer .tu1{
				width:148px;
				height:211px;
				position:absolute;
				background:url(../image/img/qrcode-fwc.jpg);
			}
		    
			
			.f-top{
				background: #009B72;
				width:120px;
				height:30px;
				line-height:30px;
				color:white;
				font-size:12px;
				float:right;	
				margin-right:30px;
				margin-top:-55px;
				display:none;
			}
.bottom-top{
				width:20px;
				height:20px;
				margin-right:30px;
				background-image:url(../image/img/backtop-icon.png);
				float:right;	
				margin-top:-50px;
				z-index: 9999;
				
			}