	*{
				margin:0;
				padding:0;
				box-sizing: border-box;
			}
			ul,a{
				list-style: none;
				text-decoration: none;
			}
			html,body{
				width:100%;
				height:100%;
			}
			*{
				margin:0;
				padding:0;
			}
			
			.min-header{
				width:100%;
				height:78px;
				position:relative;
				z-index:100;
			}
			.min-header .upper-area{
				width:100%;
				height:28px;
				font-size:13px;
				background:#009B72;
				
			}
			.min-header .upper-area ul{
				max-width:1200px;
				position:absolute;
				right:300px;
				
			}
			.min-header .upper-area li{
				width:67px;
				height:28px;
				border-left:1px solid #47b488;
				float:right;
				text-align: center;
				line-height:28px;
			}
			.min-header .upper-area li a{
				color:white;
			}
			.min-header .upper-area li:nth-child(1){
				width:80px;
				height:26px;
				margin-left:2px;
				line-height:24px;
				border-left:1px solid #47b488;
			}
			.min-header .upper-area li:hover{
				background:#47b488;
			}
			.min-header .logo-list{
				max-width:1200px;
				height:58px;
				margin:0 auto;
				padding:0.0.75rem;
				box-sizing:border-box;
			}
			.min-header .logo-list a h3 {
				line-height: 58px;
				vertical-align: middle;
				position:absolute;
				left:300px;
			}
			.min-header .logo-list .logo-lis ul{
				position:absolute;
				right:320px;
				margin-left:10px;
			}
			.min-header .logo-list .logo-lis ul li{
				margin-left:25px;
				line-height: 58px;
				float:left;
			}
			.min-header .logo-list .logo-lis ul li a{
				color:#7b7b7b;
				font-size:13px;
			}
			.nav{
				width:100%;
				height:650px;
			    /*position:relative;*/
			    padding-top:10px;
			}
			.nav ul{
				
			}
			.nav ul li {
				
				position:absolute;
			}	
			.nav ul li img{
				display:inline-block;
			    width:100%;
			    min-height:650px;
			}
			
			.main {
				padding-top:20px;
				flex:1; 
			}
			.main ul{
				flex:1;
				display:flex;
				
			}
			.main ul li {
				flex-direction:column;
				width:100%;
				height:100%;
				padding:0 2px;
			}
			.main ul li img{
				width:100%;
			}